<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" sizes="512x512">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Instrument audio classifier</title>
    </head>
    <body>
        <h1>Microfone Audio Stream</h1>
        <p id="status">Click on the button to capture your microphone.</p>

        <div class="actions">
            <button id="start-microphone">Start Microphone Capture</button>
        </div>

        <div class="container">
            <div id="drums" class="square">🥁</div>
            <div id="piano" class="square">🎹</div>
            <div id="guitar" class="square">🎸</div>
            <div id="violin" class="square">🎻</div>
            <div id="mute" class="square">🔇</div>
        </div>

        <script  href="{{ url_for('static', filename='script.css') }}"></script>
    </body>
</html>